:root {
  --background: hsl(222, 75%, 95%);
  --primary-color: #fff;
  --secondary-color: hsl(222, 75%, 85%);
  --accent-color: hsl(222, 75%, 10%);
  --text-color: rgb(62, 57, 57);
}

body {
  box-sizing: border-box;
  min-height: 90vh;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo-container {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

h1 {
  margin-top: 80px;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Lato", sans-serif;
  color: var(--text-color);
  font-size: 3rem;
}

li {
  list-style: none;
}

#todo-input {
  box-sizing: border-box;
  width: 44%;
  padding: 8px 22px;
  border-radius: 1000px;
  border: 2px solid var(--secondary-color);
  background: white;
  font: inherit;
  color: var(--accent-color);
  outline: none;
}

#add-btn {
  box-sizing: border-box;
  padding: 9px 22px;
  border-radius: 1000px;
  border: none;
  background: var(--accent-color);
  font-weight: 600;
  color: var(--background);
  cursor: pointer;
}

button {
  background: var(--accent-color);
  font-weight: 400;
  color: var(--background);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 4px 6px;
}
#todo-list li {
  margin: 0;
  margin-left: 20%;
  margin-right: 20%;
  box-sizing: border-box;
  background: var(--secondary-color);
  border-radius: 10px;
  margin-bottom: 0.3rem;
  padding: 8px;
  display: flex;
  align-items: center;
}

#todo-list li button {
  margin-left: auto;
}

li.completed span {
  color: var(--text-color);
}

ul {
  padding-inline-start: 0px;
}

@media (max-width: 500px) {
  #todo-input {
    padding: 14px;
    width: 92%;
  }
  #add-btn {
    padding: 14px;
    margin-top: 2%;
    width: 92%;
  }
  h1 {
    margin-top: 50px;
    font-size: 10vw;
  }
  #todo-list li {
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
  }
}

